/woofminer/woofminer.css
/woofminer/woofminer-dark.css
/editor/woofminer.css
/editor/woofminer-dark.css
/woofminer*.php
/editor*.php
/tests/pdo-*.html
/tests/screenshots/
/tests/cropped/
/vendor/
woofminer-plugins/
woofminer-plugins.php
